h1 {
  color: rgb(74, 156, 216);
}
h2 {
  color: rgb(150, 220, 250);
  text-align: center;
}
h3 {
  color: rgb(184, 85, 40);
}
p {
  color: rgb(255, 255, 255);
}

.content {
  margin-top: 10px;
}

.content h2 {
  text-align: center;
}

.content img {
  display: block;
}

.content figcaption {
  text-align: center;
  color: rgb(68, 129, 75);
  font-style: italic;
}

.content li {
  color: rgb(68, 129, 75);
}

.bottom {
  border-bottom: 1px solid rgb(184, 85, 40);
}

a,
a:hover {
  color: rgb(150, 200, 250);
}
a:hover {
  text-decoration: none;
}

.content hr {
  background-color: rgb(150, 220, 250);
  border-color: rgb(150, 220, 250);
}
