body {
  background-color: rgb(30, 30, 30);
}

nav {
  background-color: rgb(60, 60, 60);
}

.navbar-brand {
  font-size: 3em;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
      font-size: 1em;
  }
}

.fa {
  font-size: 3em;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.5;
}

.fa-twitter,
.fa-twitter:hover {
  color: rgb(85, 172, 238);
}

.fa-linkedin,
.fa-linkedin:hover {
  color: rgb(0,123,181);
}

.fa-github,
.fa-github:hover {
  color: rgb(255, 255, 255);
}

.light-blue-text {
  color: rgb(150, 220, 250);
}

.dark-blue-text {
  color: rgb(74, 156, 216);
}

.light-purple-text {
  color: rgb(190, 135, 190);
}

.orange-text {
  color: rgb(184, 85, 40);
}

.green-text {
  color: rgb(68, 129, 75);
}

.code-font {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
}
