@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* Below is from Layout.css */

.primarynav .navbar-brand {
  font-size: 3em;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
}

.blog div {
  margin-bottom: 5vh;
}

.PrairieDog {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.blog a:hover.orange-text {
  color: rgb(184, 85, 40);
}

.blog .dark-blue-text {
  text-align: left;
}
