.section-header {
  @apply text-purple-code text-center font-sans font-light text-4xl md:text-5xl w-full;
  letter-spacing: 0.5rem;

  &:after {
    content: '';
    @apply pt-2;
    margin: 0 auto 2rem auto;
    border-bottom: 0.375rem solid;
    @apply border-purple-code w-4/5 block border-b-4;
  }
}

.bullet-item::before {
  content: '\00B7';
  margin: 0 5px;
}
